/* Remove filament icon from main menu */
td:has(> img.main-menu__option-icon__2) {
        display: none !important;
}

/* Remove status panel across middle of main page */
div.printer-status__row {
        display: none !important;
}

/* Remove nozzle, heatbead and extruder controls from the control page */
div.control__tools {
        display: none !important;
}

div.control__jog-arrows--vertical__wrapper:has(> .control__icon-7) {
        display: none !important;
}

div.control__jog-arrows--vertical__wrapper:has(> .control__icon-7) + span.control__heading {
        display: none !important;
}

span.main-menu__heading {
        visibility: hidden !important;
        position: relative !important;
}

span.main-menu__heading:after {
        content: 'OttoTouch';
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
}
